doctype html
html(lang="en")
    include include/head.pug
    body
        include include/sidebar.pug

        div.d-flex.flex-column#content-wrapper
            div#content
                include include/topbar.pug

