nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.shadow
    button.btn.btn-link.d-md-none.rounded-circle.mr-3#sidebarToggleTop
        i.fa.fa-bars

    form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
        div.input-group